<app-header titulo="Tarjeta del Usuario"></app-header>

<ion-content>

  <ion-card>
    <img src="https://elcomercio.pe/resizer/miUvxGhiSURaIleKEkhPAojwCRY=/980x0/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/RNY6ZVXIJ5EALP4CM7LX4A42E4.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
